#{extends 'frontoffice/basePageIFrame.html' /}

<div style="padding:10px;">
#{if compte == null}
    <p class="lead text-center">Il faut être connecté pour voir cet espace</p>
#{/if}
#{else}
    #{if motd}
        ${motd.texte.raw()}
    #{/if}

    #{if evenement}

        #{if evenement.categorie == models.Evenement.CategorieEvenement.MISSION}
        <p class="lead">
            La prichaine mission aura lieu le ${evenement.dateDebut.format("EEEEE dd MMMM yyyy à HH:mm", "fr")}<br>
            <i class="glyphicon glyphicon-chevron-right"></i> ${evenement.titre}<br>
            <small>${evenement.description}</small>
        </p>
        #{/if}
        #{elseif evenement.categorie == models.Evenement.CategorieEvenement.ENTRAINEMENT}
            <p class="lead">
                Le prochain entrainement aura lieu le ${evenement.dateDebut.format("EEEEE dd MMMM yyyy à HH:mm", "fr")}<br>
                <i class="glyphicon glyphicon-chevron-right"></i> ${evenement.titre}<br>
                <small>${evenement.description}</small>
            </p>
        #{/elseif}
        #{elseif evenement.categorie == models.Evenement.CategorieEvenement.REUNION}
            <p class="lead">
                La prochaine réunion aura lieu le ${evenement.dateDebut.format("EEEEE dd MMMM yyyy à HH:mm", "fr")}<br>
                <i class="glyphicon glyphicon-chevron-right"></i> ${evenement.titre}<br>
                <small>${evenement.description}</small>
            </p>
        #{/elseif}
        #{else}
            <p class="lead">
                Le prochain évènement aura lieu le ${evenement.dateDebut.format("EEEEE dd MMMM yyyy à HH:mm", "fr")}<br>
                <i class="glyphicon glyphicon-chevron-right"></i> ${evenement.titre}<br>
                <small>${evenement.description}</small>
            </p>
        #{/else}
        <p>Participants (${evenement.participants.size()}) : #{list items:evenement.participants, as:'participant'}${participant.pseudo} #{if evenement.participants.last() != participant}, #{/if}#{/list}</p>
        <p class="lead text-center"><a target="_parent" href="${evenement.urlForum}">Voir le topic et annoncer ma participation</a></p>
    #{/if}
    #{else}
        <p class="lead text-center">Aucun évènement à venir</p>
    #{/else}
#{/else}
</div>