#{extends 'frontoffice/basePageIFrameWithBack.html' /}

<div class="col-md-12 no-padding">
    <!-- DIRECT CHAT WARNING -->
    <div class="box box-warning direct-chat direct-chat-warning" style="margin-bottom: 0px;">
        <div class="box-header with-border">
            <h3 class="box-title">Chatbox Vétérans<br><small>Accessible uniquement aux Vétérans</small></h3>

            <div class="box-tools pull-right">
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="list-message" class="direct-chat-messages">
                #{include '/frontoffice/Chatbox/messagesList.html', messages:messagesList /}
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <form action="#" id="envoiMessage" method="post">
                <div class="input-group">
                    <input type="text" id="message" name="message" placeholder="Votre message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" autocomplete="off" class="btn btn-warning btn-flat"><i class="fa fa-send"></i></button>
                      </span>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {

        var dernierCheck = '${dernierCheck.format("dd-MM-yyyy-HH:mm:ss.SSS")}';

        function refreshMessageList() {
            $.ajax({
                url: '/box-chat/messages/${compte.hash}/'+dernierCheck+'/',
                type: "GET",
                success: function (data) {
                    dernierCheck = data.dernierCheck;
                    $("#list-message").append(data.html);
                    $('#list-message').scrollTop(1E10);
                },
                error: function (data) {
                    console.log("ERROR = "+data);
                }
            });
        }

        // Premier appel pour charger les messages
        refreshMessageList();
        $('#list-message').scrollTop(1E10);


        $("#envoiMessage").submit(function( event ) {
            event.preventDefault();
            var message = $("#message").val();
            console.log(message);
            $.ajax({
                url: '/box-chat/ajouterMessage/${compte.hash}/',
                type: "POST",
                data: {
                    message: message
                },
                success: function (data) {
                    $("#message").val('');
                    refreshMessageList();
                },
                error: function (data) {
                    $("#message").val('');
                    refreshMessageList();
                }
            });
        });


        setInterval(function() {
            refreshMessageList();
            console.log("REFRESH LIST")
        }, 5000);
    });
</script>