<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr" xml:lang="fr">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-language" content="fr" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="resource-type" content="document" />
    <meta name="distribution" content="global" />
    <meta name="keywords" content="arma ArmA3 milsim simulation [V]Vétérans team fr française scripting modding kerama porquerolles angel island" />
    <meta name="description" content="The team [V]Vétérans is a french ArmA team of players sharing the same vision of the game: enjoyment, discipline, simulation." />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Les Vétérans &bull;</title>

    <link rel="stylesheet" href="http://veterans.armasites.com/styles/metro_orange/theme/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://veterans.armasites.com/styles/metro_orange/theme/neat.css" rel="stylesheet" media="screen">
    <link rel="alternate" type="application/atom+xml" title="Flux - Les Vétérans" href="http://veterans.armasites.com/feed.php" />

    <!--
        phpBB style name: Metro Orange v.1.0.5
        Based on style:   prosilver (this is the default phpBB3 style)
        Original author:  Tom Beddard ( http://www.subBlue.com/ )
        Modified by: PixelGoose Studio
    -->


    <!-- SIDEBARS -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="http://veterans.armasites.com/styles/metro_orange/theme/js/forum.js"></script>
    <link href="http://veterans.armasites.com/styles/metro_orange/theme/sidebar.css" rel="stylesheet" type="text/css" />

    <link href="http://veterans.armasites.com/styles/metro_orange/theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
    <link href="./style.php?id=5&amp;lang=fr" rel="stylesheet" type="text/css" media="screen, projection" />

    <link href="http://veterans.armasites.com/styles/metro_orange/theme/normal.css" rel="stylesheet" type="text/css" title="A" />
    <link href="http://veterans.armasites.com/styles/metro_orange/theme/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
    <link href="http://veterans.armasites.com/styles/metro_orange/theme/large.css" rel="alternate stylesheet" type="text/css" title="A++" />




    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <!--[if lte IE 8]><script type="text/javascript" src="http://veterans.armasites.com/styles/metro_orange/template/respond.min.js"></script><![endif]-->

    <!-- Google Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


</head>

<body id="phpbb" class="section-index ltr">

<div id="wrap">
    <a id="top" name="top" accesskey="t"></a>
    <div id="page-header">
        <nav id="mainMenu" class="navbar navbar-default navbar-fixed-top scroll" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://veterans.armasites.com/"><img src="http://veterans.armasites.com/styles/metro_orange/theme/images/site_logo.png" alt="logo">[V]V&eacute;t&eacute;rans</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="http://veterans.armasites.com/">Accueil</a></li>
                        <li class="active "><a href="index.php">Forum</a></li>
                        <li class=""><a href="viewtopic.php?f=3&t=4">Jouer avec nous</a></li>
                        <li><a href="viewtopic.php?f=3&t=132">Règlements</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Addons<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://veterans.armasites.com/viewtopic.php?f=24&t=1680">Angel Island</a></li>
                                <li><a href="http://veterans.armasites.com/viewtopic.php?f=24&t=1874">Porquerolles</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Julien<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Messagerie</a></li>
                                <li><a href="http://veterans.armasites.com/ucp.php" title="Panneau de contrôle de l’utilisateur" accesskey="e">Panneau de contrôle de l’utilisateur</a></li>
                                <li><a href="http://veterans.armasites.com/ucp.php?mode=logout">Déconnexion</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <br/>
        <br/>
        <br/>

        <div class="container">
            #{doLayout /}
        </div>
</body>
</html>