<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="@{'public/backoffice/css/bootstrap.css'}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@{'public/backoffice/css/AdminLTE.min.css'}" rel="stylesheet" type="text/css" />

    <!-- jQuery 2.1.4 -->
    <script src="@{'public/backoffice/plugins/jQuery/jQuery-2.1.4.min.js'}" type="text/javascript"></script>
</head>
<body>
#{doLayout /}
</body>
</html>